.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

.phil {
  padding-top: 100px;
  height: 100vh;
}
@media(max-width:992px) {
  .phil {
    padding-top: 150px;
  }
}

.phil .phil-text {
  display: flex;
  flex-direction: column;
}

.phil-text .phil-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phil-text .phil-title span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
}

.phil-text .phil-title span:first-child {
  color: #800080;
}

.phil-text .phil-title span:last-child {
  color: #800080;
}

.phil-text p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;

  letter-spacing: 0;
  color: #818181;
}

.phil-img {
  width: 100%;
}

.phil-img img {
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
@media(max-width:768px) {
  .phil-text p {
    font-size: 18px;
  }

  .phil .phil-text {
    justify-content: center;
    align-items: center;
  }

  .phil-text .phil-title span {
    font-size: 40px;
  }

  .phil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .phil-img img {
    width: 300px;
    height: 300px;
  }

  .loti {
    width: 120px !important;
  }

  .philso {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.content-phil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.over {
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.over::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(52 7 72 / 40%);
  border-radius: 50%;
  top: 0;

}

.content-phil .over img.small {
  width: 180px;
  height: 180px;
  max-width: 100%;
  border-radius: 50%;

}

.content-phil .over img:last-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 50px;
}

.content-phil span:first-of-type {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 29.2px;
  text-align: right;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: #800080;
}

.content-phil span:last-of-type {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: #818181;
}
@media(max-width:768px) {
  .philoo {
    gap: 50px;
  }
}
@media(max-width:378px) {
  .philoo {
    margin-top: 300px !important;
  }

  .phil-text p {
    text-align: center;
  }

}
@media(max-width:992px) {
  .philso {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    /* align-items: center; */
  }

  .phil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .phil .phil-text {
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
  }

  .section-phil {
    margin-top: 250px !important;
  }

  .phil-text p {
    text-align: center;
  }
}

[lang="en"] {
  @media(max-width:768px) {
    .philoo {
      gap: 50px;
    }
  }
  @media(max-width:378px) {
    .philoo {
      margin-top: 300px !important;
    }
  }
  /* @media(max-width:768px) {
    .philoo {
      margin-top: 300px !important;
    } */

  .phil-text p {
    font-size: 18px;
  }

  /* .phil .phil-text {
    justify-content: center;
    align-items: center;
  } */

  .phil-text .phil-title span {
    font-size: 40px;
  }

  .phil-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .phil-img img {
    width: 300px;
    height: 300px;
  }

  .loti {
    width: 120px !important;
  }

  /* .philso {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
  } */
  .content-phil span:first-of-type {
    text-align: center;
  }
  @media (max-width: 768px) {
    .phil .phil-text {
      justify-content: center;
      align-items: center;
    }

    .phil-text .phil-title {
      text-align: center;
    }

    .phil-text p {
      text-align: center;
    }
  }
  @media(max-width:992px) {
    .section-phil {
      margin-top: 6rem !important;
    }

    .phil-text p {
      text-align: center;
    }
  }
}
