.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

.header3-employ {
  position: fixed;
  /* left: 0; */
  width: fit-content;
  z-index: 2;
  background-color: #8F779A;
  margin: 0 50px;
  display: none;
  transition: .4s;
}

.header3-employ:hover {
  background-color: #340748;
}

.header3-employ .all {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.header3-employ img {
  width: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.header3-employ .side {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header3-employ .side span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0;
  color: #FFFFFF;
}
@media(max-width:992px) {
  .header-serv {
    display: none;
  }

  .header3-employ {
    display: block;
  }
}

.employment {
  padding-top: 100px;
  height: 0vh !important;
}

.employment .em-title span {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 29.2px;
  letter-spacing: 0;
}

.employment .em-title span:first-child {
  color: #800080;
}

.employment .em-title span:last-child {
  color: #434343;
}

.employment .land p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 60px;
  letter-spacing: 0;
  color: #818181;
  margin-top: 30px;
}

.employment .land img {
  width: 799px;
  height: 599.25px;
  max-width: 100%;
}
@media(max-width:992px) {
  .employment {
    padding-top: 150px;
  }

  .employment .land img {
    height: 420px;
  }
}
@media (max-width:768px) {
  .employment {
    padding-top: 150px;
  }

  .employment .em-title span {
    font-size: 30px;
  }

  .employment .land p {
    font-size: 18px;
    margin-top: 15px;
  }

  .employment .land img {
    height: 300px;
  }
}

.employ-form .t-form {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 29.2px;
  text-align: right;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: #434343;
}

.employ-form input {
  border-radius: 6.97px;
  opacity: 1;
  background: #F8F8F8;
  /* background: red; */
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.8);
  height: 60.57px;
  transition: .4s;
  outline: none;
}

.employ-form input:focus {
  border-color: #340748;
}

.employ-form input::placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 20.64px;
  font-weight: normal;
  line-height: 31.35px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: #8C8C8C;
}

.em-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.em-send {
  border-radius: 134.52px;
  opacity: 1;
  background: #340748;
  box-sizing: border-box;
  border: 2px solid #340748;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 15px 90px;
  transition: .4s;

}

.em-send:hover {
  background-color: #8F779A;
  border-color: #8F779A;
}

.resume-name {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
  font-weight: 500;

  color: #340748;
}

.resume-btn {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 22.08px;
  font-weight: 500;
  padding: 15px 60px;
  /* MAIN COLOR */
  border: none;
  border: 2px solid #340748;
  border-radius: 129.74px;

  color: #340748;
  transition: .4s;

}

.resume-btn:hover {
  background-color: #340748;
  border-color: #340748;
  color: white;
}
@media(max-width:992px) {
  .employ-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .employ-form {
    margin-top: 100px !important;
  }
}
@media(max-width:768px) {
  .employ-form {
    margin-top: 50px !important;
    padding: 0 12px;
  }

  .custom-filepu-int {
    gap: 10px;
    flex-direction: column !important;
  }

  .employ-form .t-form {
    margin-top: 20px !important;
    font-size: 22px;
  }

  .em-send {
    padding: 15px 30px;
  }

  .employment {
    height: auto;
  }
}

[lang="en"] {
  .employ-form p {
    text-align: left !important;
  }

  .employ-form .t-form {
    text-align: left;
  }
  @media(max-width:768px) {
    .employ-form .t-form {
      margin-top: 20px !important;
      font-size: 22px;
    }

    .employment {
      height: auto;
    }
  }
}
